# AWS Configuration
AWS_ACCOUNT_ID=760697107743
AWS_REGION=us-east-1

# Project Configuration (Should match Terraform variables)
PROJECT_NAME=mlops-platform
ENVIRONMENT=dev

# Data & Model Configuration (For local testing/scripts)
S3_RAW_BUCKET=your-raw-bucket-name
S3_FEATURE_BUCKET=your-feature-bucket-name
S3_MODEL_BUCKET=your-model-bucket-name
DYNAMODB_TABLE=your-dynamodb-table-name
